<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ryl.engineer.mapper.UserMapper">
    
    <!-- 查询所有用户 -->
    <select id="findAllUsers" resultType="java.util.HashMap">
        SELECT 
            id,
            username,
            real_name AS realName,
            role
        FROM 
            dbo.[user]
        ORDER BY 
            id
    </select>
    
    <!-- 根据ID查询用户 -->
    <select id="findUserById" parameterType="java.util.Map" resultType="java.util.HashMap">
        SELECT 
            id,
            username,
            real_name AS realName,
            gender,
            phone,
            avatar,
            department,
            role,
            status,
            last_login_time AS lastLoginTime,
            create_time AS createTime,
            update_time AS updateTime
        FROM 
            dbo.[user]
        WHERE 
            id = #{id}
    </select>
    
</mapper> 